.container {
  width: 100%;
    padding-right: 55px;
    padding-left: 55px;
    margin-right: auto;
    margin-left: auto;
}

a {
  font-family: 'Ygro Medium';
  font-size: 1.3em;
  color: #212529
}

.color {
  background: -webkit-linear-gradient(0deg, rgba(199,234,240,1) 0%, rgba(254,216,255,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

