.container {
  width: 100%;
    padding-right: 55px;
    padding-left: 55px;
    margin-right: auto;
    margin-left: auto;
}

a {
  color: #212529
}

.color {
  background: -webkit-linear-gradient(0deg, rgba(0,101,242,1) 0%, rgba(235,0,64,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.animated {
  font-size: 1.3em;
  font-family: 'Ygro Medium';
  text-decoration: none;
  background: linear-gradient(to right, #212529 50%, rgba(0,101,242,1) 50%, rgba(235,0,64,1));
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.5s ease-out;
 }

.animated:hover {
  background-position: -100%;
}

.active {
  background: -webkit-linear-gradient(0deg, rgba(0,101,242,1) 0%, rgba(235,0,64,1) 100%) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}
