<nav class="navbar navbar-light bg-transparent">
  <div class="container">
    <a class="navbar-brand animated" routerLinkActive="active" routerLink="home">
      adleralves.com
    </a>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link animated" routerLinkActive="active" routerLink="about">Sobre</a>
      </li>
      <li class="nav-item">
        <a class="nav-link animated" routerLinkActive="active" routerLink="projects">Projetos</a>
      </li>
    </ul>
  </div>
</nav>
