<nav class="navbar navbar-light bg-transparent">
  <div class="container">
    <a class="navbar-brand" routerLink="home">
      adleralves.com
    </a>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link" routerLink="about">Sobre</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="projects">Projetos</a>
      </li>
    </ul>
  </div>
</nav>
<!--
  background: rgb(199,234,240);
  background: linear-gradient(90deg, rgba(199,234,240,1) 0%, rgba(254,216,255,1) 100%);
-->
