<footer>
  <ul class="nav justify-content-center">
    <a
      class="icone"
      target="_blank"
      href="https://www.linkedin.com/in/adleralves/"
    >
      <span class="bi bi-linkedin"></span>
    </a>
    <a class="icone" target="_blank" href="https://github.com/adleralves">
      <span class="bi bi-github"></span>
    </a>
    <a class="icone" target="_blank" href="https://behance.net/adler_alves">
      <span class="bi bi-behance"></span>
    </a>
  </ul>
  <div class="d-flex justify-content-center testeee">
    <a
      class="animated testeee"
      target="_blank"
      href="https://github.com/adleralves/adleralves.com"
      >Feito por Adler Alves</a
    >
  </div>
</footer>
