p {
    font-family: 'SF UI Text', sans-serif;
    font-weight: 200;
    color: rgb(49, 49, 49);
    font-size: 1em;
}

a {
  padding: 8px;
}

.bi bi-github {
  color: black;
}

.bi bi-linkedin {
  color: #0077b7;
}

footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
}
