.icone {
  padding: 8px;
  padding-top: 20px;
}

p {
  padding-top: 5px;
  font-size: 0.9em;
  font-family: "Ygro Book";
}

footer {
  padding-top: 5px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.bi-github, .bi-behance {
  color: black;
  font-size: 22px;
}

.bi-linkedin {
  color: #0077b7;
  font-size: 22px;
}

.testeee {
  padding-top: 3px;
  padding-bottom: 10px;
  font-size: 0.9em;
  font-family: "Ygro Book";
}
