<div class="container">
  <h1 class="container text-start border-bottom">Book Store</h1>

  <div class="container d-block w-75">
    <img src="../../../assets/projects/bookstore/Como-Criar-um-Site.png" alt="">
    <br><br>
    <p>Usando JSP's e Servlets, BookStore é um site onde você entra com sua conta(caso não tenha, pode cria-la) e pode adicionar livros com seu devido autor e preço, pode listar todos os usuarios e livros registrados.</p>
    <br>
    <h3>Tecnologias</h3>
    <button>Java</button>
    <button>HTML</button>
    <button>MySQL</button>
    <button>Bootstrap</button>
  </div>
</div>
