<div class="container">
  <h1 class="container text-start border-bottom">Sobre</h1>
  <div class="d-flex p-2 w-100">
    <div>
      <p>
        Olá, meu nome é Adler(idade/onde moro)! Amo tecnologia e afins(tirar afins e usar virgula) desde que me conheço como
        pessoa e venho programando e me envolvendo com software desde 2021.
        Busco sempre evoluir e aprender com os outros, assim como gosto muito
        também de trabalhar em grupo!
      </p>
      <p>
        No momento, trabalho como Aprendiz na Embraer onde estruturo e
        desenvolvo aplicações em Angular.
      </p>
      <button type="button" class="btn btn-primary btn-lg d-flex justify-content-end">
        Curriculum
      </button>
    </div>
  </div>
  <br />
  <h3 class="bold">Experiência</h3>
  <div class="d-flex justify-content-center">
    <div class="card p-3 embraer" style="width: 70rem">
      <div class="d-flex row">
        <div class="col d-flex justify-content-start">
          <h5>Aprendiz⠀@⠀</h5>
          <h5 class="color">Embraer</h5>
        </div>
        <h5 class="col d-flex justify-content-end">2021 - 2023</h5>
      </div>
      <div class="row">
        <p class="light">
          Desenvolvi aplicações em uma biblioteca privada com Angular, trabalhei
          com ferramentas de prototipagem e design como Figma e Photoshop para a
          parte visual das aplicações.
        </p>
      </div>
    </div>
  </div>
</div>

<!--<img src="../../assets/adler.png" width="190px" height="190px" alt="Me :)" />-->
