<div class="container">
  <h1 class="container text-start border-bottom">Sobre</h1>
  <div class="about">
    <div class="d-flex p-2">
      <img src="../../assets/me.png" alt="Me :)" />
      <div class="p-2">
        <h3>
          Este é um texto pra falar um pouco sobre o adler! eu ainda não tenho
          ideia do que colocar aqui então por enquanto vou usar este texto só
          para popular o site.
        </h3>
      </div>
    </div>
  </div>
  <h3 class="bold">Habilidades</h3>
  <div class="light tamanho">
    <button class="skills animated" disabled>Java</button>
    <button class="skills animated" disabled>Spring</button>
    <button class="skills animated" disabled>Angular</button>
    <button class="skills animated" disabled>Typescript</button>
    <button class="skills animated" disabled>MySQL</button>
    <button class="skills animated" disabled>React Native</button>
    <button class="skills animated" disabled>Javascript</button>
    <button class="skills animated" disabled>HTML</button>
    <button class="skills animated" disabled>CSS</button>
    <button class="skills animated" disabled>Bootstrap</button>
    <button class="skills animated" disabled>Azure</button>
  </div>
  <br />
  <h3 class="bold">Experiência</h3>
  <div class="d-flex justify-content-center">
    <div class="card p-3 embraer" style="width: 70rem">
      <div class="d-flex row">
        <div class="col d-flex justify-content-start">
          <h4>Aprendiz⠀@⠀</h4>
          <h4 class="color">Embraer</h4>
        </div>
        <h4 class="col d-flex justify-content-end">2021 - 2023</h4>
      </div>
      <div class="row">
        <h5 class="light">
          Desenvolvi aplicações em uma biblioteca privada com Angular, trabalhei
          com ferramentas de prototipagem e design como Figma e Photoshop para a
          parte visual das aplicações.
        </h5>
      </div>
    </div>
  </div>
</div>
