<div class="container">
  <h1 class="container text-start border-bottom">Sobre</h1>

  <div class="about">
    <div class="d-flex p-2">
      <img src="../../assets/me.png" class="img-fluid" alt="Me :)" />
      <div class="p-2">
        <h3>
          Adler Adler Adler Adler Adler Adler Adler Adler Adler Adler Adler
          Adler Adler Adler Adler Adler Adler Adler Adler Adler Adler Adler
          Adler Adler Adler Adler Adler Adler Adler Adler Adler Adler Adler
          Adler Adler Adler Adler Adler Adler
        </h3>
        <button class="btn btn-primary btn-lg">Adler</button>
      </div>
    </div>
  </div>

  <br /><br /><br />

  <h3 class="bold">Experiencia</h3>
  <br />
  <div class="d-flex justify-content-center">
    <div class="card p-3 embraer" style="width: 70rem">
      <div class="d-flex row">
        <h4 class="col d-flex justify-content-start">Aprendiz @ Embraer</h4>
        <h4 class="col d-flex justify-content-end">2021 - 2023</h4>
      </div>
      <div class="row">
        <h5 class="light">
          Desenvolvi aplicações em uma biblioteca privada com Angular, trabalhei
          com ferramentas de prototipagem e design como Figma e Photoshop para a
          parte visual das aplicações.
        </h5>
      </div>
    </div>
  </div>
</div>
