h1 {
  font-size: 5em;
}

.card {
  position: relative;
  border-color: white !important;
}

.card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  box-shadow: 0 .75rem 2rem -.5em rgba(0,0,0,.3);
  transition: opacity 1s ease;
}

.card:hover::after {
  opacity: 1;
}

.tamanho {
  font-size: 1.5em;
}

button {
  border: none;
}
