<div class="experience-container">

  <div class="experience-list">
    <div class="experience-item" *ngFor="let exp of experiences">
      <div class="experience-header">
        <div class="company-info">
          <h2 class="position-title">{{ exp.position }} &#64; <a href="{{ exp.companyUrl }}" target="_blank" rel="noopener noreferrer" class="company-name">{{ exp.company }}</a></h2>
        </div>
        <div class="period">{{ exp.period }}</div>
      </div>
      
      <p class="description">{{ exp.description }}</p>
      
      <div class="technologies">
        <span class="tech-tag" *ngFor="let tech of exp.technologies">
          {{ tech }}
        </span>
      </div>
    </div>
  </div>
</div>
