<div class="container">
  <h1 class="container text-start border-bottom h1-alternative">
    Fast and Furious
  </h1>

  <div class="container d-block w-75">
    <img
      src="../../../assets/projects/bookstore/Como-Criar-um-Site.png"
      alt=""
    />
    <br /><br />
    <p>falta</p>
    <br />
    <h3>Tecnologias</h3>
    <span class="java" disabled>Java</span>
    <span class="spring" disabled>Spring</span>
    <span class="angular" disabled>Angular</span>
    <span class="typescript" disabled>Typescript</span>
    <span class="javascript" disabled>Javascript</span>
    <span class="html" disabled>HTML</span>
    <span class="css" disabled>CSS</span>
    <span class="mysql" disabled>MySQL</span>
    <span class="bootstrap" disabled>Bootstrap</span>
  </div>
</div>
