<div class="container">
  <h1 class="container text-start border-bottom h1-alternative">Fast and Furious</h1>

  <div class="container d-block w-75">
    <img
      src="../../../assets/projects/bookstore/Como-Criar-um-Site.png"
      alt=""
    />
    <br /><br />
    <p>falta</p>
    <br />
    <h3>Tecnologias</h3>
    <button class="java" disabled>Java</button>
    <button class="spring" disabled>Spring</button>
    <button class="angular" disabled>Angular</button>
    <button class="typescript" disabled>Typescript</button>
    <button class="javascript" disabled>Javascript</button>
    <button class="html" disabled>HTML</button>
    <button class="css" disabled>CSS</button>
    <button class="mysql" disabled>MySQL</button>
    <button class="bootstrap" disabled>Bootstrap</button>
  </div>
</div>
