<div class="loading-container">
  <div class="skeleton-header">
    <div class="skeleton-name"></div>
    <div class="skeleton-title"></div>
  </div>
  
  <div class="skeleton-content">
    <div class="skeleton-line"></div>
    <div class="skeleton-line"></div>
    <div class="skeleton-line short"></div>
  </div>
  
  <div class="skeleton-social">
    <div class="skeleton-icon"></div>
    <div class="skeleton-icon"></div>
    <div class="skeleton-icon"></div>
    <div class="skeleton-icon"></div>
    <div class="skeleton-button"></div>
  </div>
  
  <div class="skeleton-nav">
    <div class="skeleton-nav-item"></div>
    <div class="skeleton-nav-item"></div>
  </div>
</div>
