<a routerLink="bookstore">
  <div class="col" >
    <div
      class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
      style="background-image: url('')"
    >
      <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
        <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">project.name</h3>
        <ul class="d-flex list-unstyled mt-auto">
          <li class="me-auto"></li>
          <li class="d-flex align-items-center me-3">
            <small>lang</small>
          </li>
          <li class="d-flex align-items-center">
            <small>lang</small>
          </li>
        </ul>
      </div>
    </div>
  </div>
</a>
