@import "~bootstrap-icons/font/bootstrap-icons.css";

body {
  background: rgb(255, 255, 255);
}

@font-face {
  font-family: 'Ygro Bold';
  src: url(assets/fonts/YgroSansBeta-Bold.woff);
}

@font-face {
  font-family: 'Ygro Medium';
  src: url(assets/fonts/YgroSansBeta-Medium.woff);
}

@font-face {
  font-family: 'Ygro Book';
  src: url(assets/fonts/YgroSansBeta-Book.woff);
}

h3 {
  font-family: 'Ygro Medium';
}

h4 {
  font-family: 'Ygro Medium';
}

p {
  font-family: 'Ygro Book';
}

.angular, .java, .spring, .mysql, .typescript, .bootstrap,
.photoshop, .illustrator, .html, .css, .javascript {
  font-family: 'Ygro Book';
  font-size: 1em;
  border: none;
  border-radius: 5px!important;
  color: white;
  margin: .2rem;
}

.angular {
  background-color: #dd0031;
}

.java {
  background-color: #0275bf;
}

.spring {
  background-color: #6db33f;
}

.mysql {
  background-color: #f29111;
}

.typescript {
  background-color: #3178c6;
}

.bootstrap {
  background: -webkit-linear-gradient(0deg, rgba(138,19,252,1) 0%, rgba(113,17,245,1) 100%) !important;
}

.photoshop {
  background-color: #001b32;
}

.illustrator {
  background-color: #330000;
}

.html {
  background-color: #f16529;
}

.css {
  background-color: #2965f1;
}

.javascript {
  background-color: #f7df1e;
}
