body {
  background: rgb(255, 255, 255);
}

@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: 'SF UI Text';
  src: url('/src/assets/SF-UI-Text-Regular.woff') format('woff');
  font-display: swap;
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'SF UI Text';
  src: url('/src/assets/SF-UI-Text-Bold.woff') format('woff');
  font-display: swap;
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: 'SF UI Text';
  src: url('/src/assets/SF-UI-Text-Heavy.woff') format('woff');
  font-display: swap;
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: 'SF UI Text';
  src: url('/src/assets/SF-UI-Text-Light.woff') format('woff');
  font-display: swap;
  font-style: normal;
  font-weight: 200;
}
