<div class="content-wrapper">
  <p class="description">
    Sou profissional na área de Engenharia e Desenvolvimento Computacional, com atuação em sistemas de testes, integração e automação para a indústria aeronáutica. Atualmente, faço parte da Embraer, onde participo do desenvolvimento de RIGs, HIL e bancadas de teste para aeronaves militares, executivas e comerciais, aplicando conhecimentos em LabVIEW, PXI, Python, SQL, C/C++, instrumentação e automação de sistemas.
  </p>
  <p class="description">
    Minha trajetória inclui desde o planejamento e montagem de laboratórios de ensaio até a integração de sistemas aviônicos complexos, utilizando protocolos como ARINC-429, MIL-STD-1553, RS-422, AFDX, Ethernet e CAN. Também possuo experiência em suporte técnico, redes, desenvolvimento de software e prototipagem eletrônica.
  </p>
</div>

