h1, h2, button {
  display:flexbox !important;
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 3em;
}

button {
  border: none;
  height: 2.5em !important;
  width: 9.5em !important;
  font-size: 1.7em;
  border-radius: 15px!important;
}

.space {
  height: 48rem !important;
}
