<div class="container vh-100">
  <div class="">
    <div class="row min-vh-100">
      <div class="col my-auto">
        <h2 class="d-block d-sm-none mob"><span class="adler-mob">Adler</span> Alves</h2>
        <h1 class="d-none d-sm-block"><span class="adler">Adler</span> Alves</h1>
        <h2 class="d-block d-sm-none mob">Software Developer</h2>
        <h1 class="d-none d-sm-block">Software Developer</h1>
        <div class="col my-auto d-flex justify-content-end">
          <h1 class="cv">Curriculum <i class="bi bi-arrow-right"></i></h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <p>Outro conteúdo aqui...</p>
    </div>
  </div>
</div>
