<div class="container vh-100">
  <div class="">
    <div class="row min-vh-100">
      <div class="col my-auto">
        <h2 class="d-block d-sm-none mob">
          <span class="adler-mob cor zoom">Adler</span> Alves
        </h2>
        <h1 class="d-none d-sm-block">
          <span class="adler cor">Adler</span> Alves
        </h1>
        <h3 class="d-block d-sm-none mob teste">Software Developer</h3>
        <h1 class="d-none d-sm-block">Software Developer</h1>
        <div class="col my-auto d-flex justify-content-end">
          <h3 class="d-block d-sm-none">
            Curriculum <i class="bi bi-arrow-right"></i>
          </h3>
          <h1 class="cv d-none d-sm-block">
            Curriculum<i class="bi bi-arrow-right animation-afastar"></i>
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <p>Teste</p>
    </div>
  </div>
</div>
